
body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


header {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botones a la derecha */
    align-items: center;
    flex-wrap: wrap; 
    padding: 10px 5%;
    gap: 15px;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

#boton {
    display: flex;
    gap: 10px;
}

/* --- SECCIONES --- */
section {
    background: #ffffff;
    border-radius: 12px;
    width: 95%;       
    max-width: 1000px;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

/* --- ESTRUCTURAS FLEX (TEXTO -- IMAGEN AL LADO) --- */

.imagen1, #verde, #verde2, #imagen7, #imagen9 {
    display: flex;
    flex-direction: row; /* Horizontal en PC */
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: left; /* Texto a la izquierda en PC */
}

/* Es para que las imagenes se agrandes mas que el texto cuando este en pantalla grande */
.imagen1 > div, #verde > div, #verde2 > div, #imagen7 > div, #imagen9 > div {
    flex: 1; 
}

/* --- IMÁGENES GENERALES --- */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    transition: transform 0.3s;
}

img:hover{
  transform: scale(1.07);
}


.verde img, .verde2 img {
    width: 100%;
    max-width: 400px; /* Tamaño controlado para que no se vea gigante */
    height: auto;
}

/* --- LAS 3 IMÁGENES --- */
div.hola {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.hola img {
    width: 200px;         
    height: 200px;
}

#imagen7, #imagen9{
    background: none;
}

.titulitos{
    color: #3aa83e;
}


/*-----------------------------------------------------*/

/* --- BOTONES --- */
button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #45a049;
    transform: scale(1.05);
}

/* -----------------------------
   DISEÑO PARA CELULARES
   ---------------------------- */
@media (max-width: 768px) {
    /*  todo lo que era horizontal ahora sea VERTICAL */
    header, 
    .imagen1, 
    #verde, 
    #verde2, 
    #imagen7,
    #imagen9, 
    div.hola {
        flex-direction: column !important;
        text-align: center;
    }

    /*las imágenes ocupen buen espacio y no se vean pequeñas */
    img {
        max-width: 80% ; /* Imagen más grande en celular */
        margin: 20px auto;
    }
}
